/**********************************************/
/*******************STATUS*********************/
/**********************************************/

.table_container {
  /* background-color: aqua; */
}

.table_body {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.9rem;
}

.table_footer {
  padding: 15px 0 0 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}

.table_tr {
  height: 32px;
  white-space: nowrap;
  transition: background-color 0.2s;
}

.table_body thead .table_tr {
  border-bottom: 1px solid var(--grid);
  height: 32px;
}

.table_body tbody .table_tr {
  border-bottom: 1px solid var(--grid);
}

.table_th {
  text-align: left;
  padding: 0 8px;
  height: 32px;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 300;
  border-bottom: 1px solid var(--grid);
}

.table_td {
  padding: 0 8px;
  height: 32px;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 300;
  border-bottom: 1px solid var(--grid);
}

.table_fixed_cell {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.table_metricLabel {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table_valueText {
  /* font-family: monospace; */
}
/************************************************/
/*******************DESCRIBE*********************/
/************************************************/

.describe_container {
  /* background-color: aquamarine; */
}

.describe_table {
  min-width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  text-align: left;
  table-layout: fixed;
}

.describe_thead {
}

.describe_th {
  padding: 0 8px;
  border-bottom: 1px solid var(--grid);
  font-weight: 300;
  height: 32px;
  box-sizing: border-box;
  overflow: hidden;
}

.describe_tr {
  transition: background-color 0.2s;
  font-weight: 300;
  height: 32px;
}

.describe_tr:hover {
  font-weight: 600;
}

.describe_tr.row_selected {
  font-weight: 600;
}

.describe_td {
  padding: 0 8px;
  border-bottom: 1px solid var(--grid);
  height: 32px;
  box-sizing: border-box;
  overflow: hidden;
}

.describe_fixed_cell {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.describe_metricLabel {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.describe_valueText {
  /* font-family: monospace; */
}

.describe_footer {
  padding-top: 15px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  justify-content: left;
}
