/*******************************************/
/*******************TCC*********************/
/*******************************************/

.tcc_container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tcc_cabecalho {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 800px) {
  .tcc_cabecalho {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
}

.tcc_title {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tcc_title_h3 {
  /* background-color: rgb(73, 182, 182); */
  color: var(--foreground);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.tcc_subtitle_p {
  /* background-color: bisque; */
  margin: 0;
  font-size: 12px;
  color: var(--foreground);
  line-height: 1.2;
  margin-right: 15px;
}

.tcc_graph_container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .tcc_graph_container {
    flex-direction: column;
    min-height: 350px;
  }
}

.tcc_graph_wrapper {
  /* height: 100%; */
  flex: 1;
}

/************************************************/
/*******************DROPDOWN*********************/
/************************************************/

.dropdown_container {
  position: relative;
  width: 250px;
}

.dropdown_button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--grid);
  background-color:var(--panel);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}

.dropdown_list {
  position: absolute;
  top: 110%;
  right: 0;
  width: 250px;
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.5) !important; */
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 101
}