.probtable_container {
  /* background-color: aquamarine; */
}

.probtable_table {
  /* background-color: aquamarine; */
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  table-layout: fixed;
}

.probtable_thead {
  background-color: var(--tab-hover);
  /* text-transform: uppercase; */
  border-bottom: solid 3px var(--panel);
}

.probtable_thead_th {
  font-weight: 300;
  position: relative;
}

/* Estilo apenas para a linha superior (os Grupos) */
.probtable_group_th {
  opacity: 0.5;
  padding: 6px;
}

.probtable_group_th::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 8px;
  right: 8px;
  height: 1px;
  background-color: var(--tab-text);
  opacity: 0.5;
  font-weight: 300;
}

.probtable_th_item {
  display: flex;
  justify-content: center; /* Garante que tudo no header nasça centralizado por padrão */
  padding: 10px;
  gap: 4px;
  transition: all 0.3s ease;
}

.probtable_td {
  padding: 10px;
  border-bottom: 1px solid var(--grid);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.probtable_cabecalho {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.probtable_title {
  flex: 2;
}

.probtable_dropdown {
  flex: 1;
}

@media (max-width: 800px) {
  .probtable_cabecalho {
    flex-direction: column;
    margin-bottom: 10px;
    /* min-height: 350px; */
  }
}

/* Linha padrão */
.probtable_tr,
.probtable_tr1 {
  background-color: transparent; /* Movemos do inline para cá */
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.2s;
}

.probtable_tr1:hover {
  /* background-color: aquamarine; */
  background-color: var(--tab-hover) !important;
}

/* Linha abandonada */
.row_abandonado {
  background-color: rgba(255, 75, 75, 0.05) !important;
}

/* Hover na linha abandonada */
.row_abandonado:hover {
  background-color: rgba(255, 75, 75, 0.12) !important;
}

.row_active {
  background-color: var(--tab-hover) !important;
}

.table_footer {
  padding: 5px;
  padding-top: 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}

.card_title {
  margin-bottom: 10px;
  margin-top: 0;
}

.card_subtitle_p {
  /* background-color: bisque; */
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  color: var(--foreground);
  line-height: 1.2;
  margin-right: 15px;
  margin-bottom: 15px;
}

.table_footer {
  padding: 5px;
  padding-top: 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}

.sortable {
  opacity: 0.5;
}

.sortable:hover {
  opacity: 1 !important;
}

.sorted {
  opacity: 1 !important;
}

.code_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visibility_button {
  background-color: transparent !important;
  display: flex;
  border: none;
  cursor: pointer;
}
