/*********************************/
/**************PAGE***************/
/*********************************/

.main {
  /* background-color: rgb(86, 211, 211); */
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
}

.block1 {
  /*  background-color: rgb(190, 121, 42);  */
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block2 {
  /* background-color: rgb(190, 121, 42); */
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .block1 {
    min-width: 300px;
  }

  .block2 {
    min-width: 300px;
  }
}

/******************************************/
/***************BLOCK1_FIRST***************/
/******************************************/

.block1_first {
  /* background-color: aquamarine; */
  /* flex: 1; */
  display: flex;
  gap: 10px;
  min-height: 230px;
}

@media (max-width: 1000px) {
  .block1_first {
    flex-direction: column;
  }
}

.block1_first_left {
  /* background-color: bisque; */
  display: flex;
  gap: 10px;
  flex: 1 1 50%;
}

.block1_first_left1 {
  /* background-color: bisque; */
  flex: 1 1 50%;
}

.block1_first_left2 {
  /* background-color: bisque; */
  flex: 1 1 50%;
}

.block1_first_right {
  /* background-color: bisque; */
  flex: 1 1 50%;
}

/*******************************************/
/***************BLOCK1_SECOND***************/
/*******************************************/

.block1_second {
  /* background-color: aquamarine; */
  /* flex: 1 ; */
  display: flex;
  gap: 10px;
  min-height: 300px;
}

@media (max-width: 800px) {
  .block1_second {
    flex-direction: column;
  }
}

.block1_second_left {
  /* background-color: rgb(167, 123, 70); */
  flex: 1 1 50%;
}

.block1_second_right {
  /* background-color: rgb(167, 78, 78); */
  flex: 1 1 50%;
}

/******************************************/
/***************BLOCK2_THIRD***************/
/******************************************/

.block_third {
  /* background-color: aquamarine; */
  min-height: 300px;
  height: 100%;
}

/*************************************************************/
/***************CARD_INSCRITOS & CARD_ABSTENCAO***************/
/*************************************************************/

.card_inscritos,
.card_abstencao {
  /* background-color: aqua; */
  height: fit-content;
}

.card_inscritos_title,
.card_abstencao_title {
  /* background-color: aquamarine; */
  margin: 0;
}

.card_inscritos_subtitle,
.card_abstencao_subtitle {
  /* background-color: aquamarine; */
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
}

.card_inscritos_num,
.card_abstencao_num {
  /* background-color: aquamarine; */
  font-size: 22px;
  margin: 0;
}

/*******************************************/
/***************CARD_PRESENCA***************/
/*******************************************/

.card_presenca {
  /* background-color: aqua; */
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.card_presenca_title {
  margin: 0;
}

.card_presenca_table {
  /* background-color: aquamarine; */
  padding-top: 15px;
}

/*******************************************/
/***************CARD_FXETARIA***************/
/*******************************************/

.card_fxetaria {
  /* background-color: aquamarine; */
  height: 100%;
  width: 100%;
  min-height: 300px;
  display: flex;
}

.card_sexo {
  /* background-color: aquamarine; */
  height: 100%;
  width: 100%;
  min-height: 300px;
  display: flex;
}

/******************************************/
/***************CARD_RACACOR***************/
/******************************************/

.card_racacor {
  /* background-color: aquamarine;  */
  height: 100%;
  min-height: 300px;
  display: flex;
}

