.table_container {
  /* background-color: aqua; */
}

.table_body {
  /* background-color: aqua; */
  width: 100%;
  border-collapse: collapse;
}

.table_thead {
}

.table_thead_tr {
  border-bottom: 1px solid var(--grid);
}

.table_thead_th {
  text-align: left;
  padding: 10px;
}

.table_tbody_tr {
  border-bottom: none;
  white-space: nowrap;
}

.table_tbody_tr:last-child {
  border-bottom: 1px solid var(--grid);
}

.table_tbody_td {
  padding: 5px;
  font-weight: 300;
}
