.probtable_container {
  /* background-color: aquamarine; */
}

.card_title {
  /* margin-bottom: 10px; */
}

.card_subtitle_p {
  /* background-color: bisque; */
  margin: 0;
  font-size: 12px;
  color: var(--foreground);
  line-height: 1.2;
  margin-right: 15px;
  margin-bottom: 15px;
}

.probtable_table {
  /* background-color: aquamarine; */
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  table-layout: fixed;
}

.probtable_thead {
  /* text-transform: uppercase; */
  border: solid 1px var(--tab-hover);
  background-color: var(--tab-hover);
}

.probtable_tr {
  /* background-color: aquamarine; */
}

.probtable_thead_th {
  position: relative;
}

/* Estilo apenas para a linha superior (os Grupos) */
.probtable_group_th {
  padding: 5px;
  opacity: 0.5;
}

.probtable_group_th::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 8px;
  right: 8px;
  height: 1px;
  background-color: var(--tab-text);
  opacity: 0.3;
}

.probtable_th_item {
  display: flex;
  align-items: top;
  justify-content: center; /* Garante que tudo no header nasça centralizado por padrão */
  padding: 10px 8px;
  gap: 4px;
  transition: all 0.3s ease;
}

.probtable_td {
  padding: 10px 8px;
  border-bottom: 1px solid var(--grid);
  text-align: center; /* Centraliza o conteúdo das linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table_footer {
  padding: 5px;
  padding-top: 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}

.sortable {
  opacity: 0.5;
}

.sortable:hover {
  opacity: 1 !important;
}

.sorted {
  opacity: 1 !important;
}
