/****************************************/
/***************CONTAINERS***************/
/****************************************/

.main {
  /* background-color: rgb(86, 211, 211); */
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.nav {
  /* background-color: rgb(76, 113, 145); */
  width: 100%;
  box-sizing: border-box;
}

/**************************************/
/***************MAIN TOP***************/
/**************************************/

.main_top {
  /* background-color: aquamarine; */
  display: flex;
  gap: 10px;
  width: 100%;
}

@media (max-width: 1200px) {
  .main_top {
    flex-direction: column;
  }
}

.main_left {
   /* background-color: aquamarine; */
  flex: 1 1 60%;
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  .main_left {
    flex-direction: column;
  }
}


.main_left1 {
  background-color: aquamarine;
  flex: 1 1 40%;
  min-width: 250px;
}

.main_left2 {
  background-color: aquamarine;
  flex: 1 1 60%;
  min-width: 350px;
}

.main_right {
  /* background-color: aquamarine; */
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .main_right {
    flex-direction: row;
  }
}


@media (max-width: 800px) {
  .main_right {
    flex-direction: column;
  }
}

.main_right_top {
  /* background-color: aquamarine; */
}

.main_right_bottom {
  /* background-color: aquamarine; */
}