.eap_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eap_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eap_initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 350px;
  color: var(--tick);
}

/*******************************************/
/*******************TCC*********************/
/*******************************************/

.tcc_container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tcc_cabecalho {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 60px;
}

@media (max-width: 800px) {
  .tcc_cabecalho {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
}

.tcc_title {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}

.tcc_title_h3 {
  /* background-color: rgb(73, 182, 182); */
  color: var(--foreground);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.tcc_subtitle_p {
  /* background-color: bisque; */
  margin: 0;
  font-size: 12px;
  color: var(--foreground);
  line-height: 1.2;
  margin-right: 15px;
}

.tcc_graph_container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

@media (max-width: 800px) {
  .tcc_graph_container {
    flex-direction: column;
    min-height: 350px;
  }
}

.tcc_graph_wrapper {
  /* height: 100%; */
  flex: 1;
}
