/*********************************/
/**************PAGE***************/
/*********************************/

.main {
  /* background-color: aqua; */
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column; 
}

.title {
  /* background-color: rgb(82, 126, 126); */
  display: flex;
  justify-content: center;
}

.block {
  /* background-color: rgb(190, 121, 42); */
  display: flex;
  gap: 10px;
}

/*****************************************/
/***************BLOCK_FIRST***************/
/*****************************************/

.block_first {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block_first_top {
  /* background-color: bisque; */
  height: 220px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.block_first_top1 {
  /* background-color: brown; */
  flex-grow: 1;
  display: flex;
}

.block_first_top2 {
  /* background-color: brown; */
  flex-grow: 1;
  display: flex;
}

.block_first_bottom {
  /* background-color: brown; */
  display: flex;
  flex-grow: 1;
  /* flex: 1 ; */
}

.cards_title_container {
  display: flex;
  gap: 10px;
}

.cards_title_txt1 {
  /* background-color: aquamarine; */
  margin: 0;
}

.cards_title_txt2 {
  /* background-color: aquamarine; */
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
}

.cards_title_num {
  /* background-color: aquamarine; */
  font-size: 30px;
  margin: 0;
}

/******************************************/
/***************BLOCK_SECOND***************/
/******************************************/

.block_second {
  /* background-color: aquamarine; */
  flex: 1 ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block_second_top {
  /* background-color: rgb(167, 123, 70); */
  height: 220px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.block_second_bottom {
  /* background-color: rgb(167, 78, 78); */
  display: flex;
}

.block_third {
  /* background-color: aquamarine; */
  display: flex;
  flex: 1
}