/*********************************/
/**************PAGE***************/
/*********************************/

.main {
  /* background-color: rgb(86, 211, 211); */
  padding: 10px;
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

.block1 {
  /* background-color: rgb(190, 121, 42);   */
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 700px
}

@media (max-width: 800px) {
  .block1 {
    min-width: 340px
  }
}

.block2 {
  /* background-color: rgb(190, 121, 42); */
  flex: 1;
  display: flex;
}

/*****************************************/
/***************BLOCK_FIRST***************/
/*****************************************/

.block_first {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  gap: 10px;
  min-height: 250px;
  /* flex-wrap: wrap; */
}

@media (max-width: 800px) {
  .block_first {
    flex-direction: column;
  }
}

.block_first_left {
  /* background-color: bisque; */
  /* flex: 1; */
  display: flex;
  gap: 10px;
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
}

.block_first_left1 {
  /* background-color: brown; */
  /* flex: 1; */
  display: flex;
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
}

.block_first_left2 {
  /* background-color: brown; */
  /* flex: 1; */
  display: flex;
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
}

.block_first_right {
  /* background-color: bisque; */
  /* flex: 1; */
  display: flex;
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
  min-width: 300px
}

/******************************************/
/***************CARD_CONTENT***************/
/******************************************/

.cards_title_container {
  /* background-color: aqua; */
}

.cards_container {
  /* background-color: aqua; */
}

.cards_title_txt1 {
  /* background-color: aquamarine; */
  margin: 0;
}

.cards_title_txt2 {
  /* background-color: aquamarine; */
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
}

.cards_title_num {
  /* background-color: aquamarine; */
  font-size: 22px;
  margin: 0;
}

.cards_table {
  margin-top: 10px;
}

/******************************************/
/***************BLOCK_SECOND***************/
/******************************************/

.block_second {
  /* background-color: aquamarine; */
  flex: 2 ;
  display: flex;
  gap: 10px;
  min-height: 300px;
}

@media (max-width: 800px) {
  .block_second {
    flex-direction: column;
  }
}

.block_second_left {
  /* background-color: rgb(167, 123, 70); */
  /* flex: 1; */
  display: flex;
  /* width: 100%; */
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
}

.block_second_right {
  /* background-color: rgb(167, 78, 78); */
  display: flex;
  /* flex: 1; */
  /* width: 100%; */
  flex: 1 1 0 0;   /* Cresce 1, encolhe 1, base 0 */
  width: 100%;    /* Garante que o ponto de partida seja metade do container */
  min-width: 0;  /* Permite que o container encolha se necessário, evitando o tremor */
  overflow: hidden;
}

.block_third {
  /* background-color: aquamarine; */
  display: flex;
  flex: 1;
  min-height: 300px;
}