/************************************/
/***************SIDEBAR**************/
/************************************/

.appsidebar_container {
  background-color: var(--panel);
  border-right: 1px solid var(--background);
  width: 250px;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overscroll-behavior: contain;

  /* Animação */
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 800px) {
  .appsidebar_container {
    position: fixed; 
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    height: calc(100svh - 60px);
  }

  /* Classe para quando o usuário clicar no botão de abrir no mobile */
  .appsidebar_mobile_open {
    transform: translateX(0);
  }
}

.appsidebar_topper {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.appsidebar_footer {
  /* background-color: rgb(158, 100, 52); */
  padding-block: 10px;
}

/***********************************/
/***************NAVBAR**************/
/***********************************/

.appsidebar_navbar {
  /* background-color: bisque; */
  flex: 1;
}

.navbar_title {
  /* background-color: aquamarine; */
  font-weight: 300;
  font-size: 16px;
  color: var(--foreground);
  margin-top: 15px;
}

.navbar_list {
  /* background-color: blueviolet; */
  list-style: none;
  margin: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar_years {
  /* background-color:azure; */
}

.navbar_button {
  background-color: var(--panel);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu;
  font-size: large;
  align-items: center;
}

.navbar_button_1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar_button_2 {
  display: flex;
  align-items: center;
}

.navbar_button_active {
  background-color: var(--background);
}

.navbar_button:hover  {
  background-color: var(--background);
}

.navbar_subitems {
  /* background-color: brown; */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.navbar_subitems_list {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding-top: 5px;
  box-sizing: border-box;
}

.navbar_subitems_items {
  /* background-color: aqua; */
  min-height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navbar_subitems_items a {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
}

.navbar_subitems_items:hover {
  background-color: var(--background);
}

.navbar_subitems_items_active {
  background-color: var(--background);
}

.navbar_subitems_links {
  text-decoration: none;
  padding-inline: 5px;
  color: var(--foreground);
}

.em_breve {
  font-weight: 300;
  font-size: 10px;
  font-style: italic;
}

/***********************************/
/***************FOOTER**************/
/***********************************/

.footer {
  /* background-color: aquamarine; */
  font-weight: 300;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/***********************************/
/***************HEADER**************/
/***********************************/

.appheader_container {
  background-color: var(--panel); 
  height: 60px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  position: fixed; 
  border-bottom: 1px solid var(--background);
}

.appheader_enemlogo {
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--logo);
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .appheader_enemlogo {
    justify-content: center;
  }
}

.appheader_menu_container {
  /* background-color: rgb(61, 196, 196); */
}

/*****************************************/
/***************MENU_BUTTON**************/
/*****************************************/

.menu_button {
  background-color: var(--background);
  border: none;
  height: 35px;
  border-radius: 99px;
  width: 35px;
  padding: 0; 
  line-height: 0;
  cursor: pointer;
}

/*****************************************/
/***************THEME_BUTTON**************/
/*****************************************/

.theme_button {
  background-color: var(--background);
  border: none;
  height: 35px;
  border-radius: 99px;
  width: 35px;
  padding: 0; 
  line-height: 0;
  cursor: pointer;
}

/*********************************/
/***************CARD**************/
/*********************************/

.cardContainer {
  background-color: var(--panel);
  border-radius: 1rem;
  padding: 20px;   
}

.chartWrapper {
  /* background-color: rgb(196, 96, 49); */
}
