/************************************/
/***************SIDEBAR**************/
/************************************/

.appsidebar_container {
  background-color: var(--panel);
  border-right: 1px solid var(--background);
  width: 250px;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overscroll-behavior: contain;
  transition: transform 0.3s ease-in-out;
  @media (max-width: 800px) {
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100dvh - 60px);
    transform: translateX(-100%); 
    visibility: hidden;  
    pointer-events: none;
  }
}

.appsidebar_mobile_open {
  transform: translateX(0) !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

.appsidebar_topper {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.appsidebar_footer {
  /* background-color: rgb(158, 100, 52); */
  padding-block: 10px;
}

/***********************************/
/***************NAVBAR**************/
/***********************************/

.appsidebar_navbar {
  /* background-color: bisque; */
  flex: 1;
}

.navbar_title {
  /* background-color: aquamarine; */
  font-weight: 300;
  font-size: 16px;
  color: var(--foreground);
  margin-top: 15px;
}

.navbar_list {
  /* background-color: blueviolet; */
  list-style: none;
  margin: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar_years {
  /* background-color:azure; */
}

.navbar_button {
  background-color: var(--panel);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu;
  font-size: large;
  align-items: center;
}

.navbar_button_1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar_button_2 {
  display: flex;
  align-items: center;
}

.navbar_button_active {
  background-color: var(--background);
}

.navbar_button:hover  {
  background-color: var(--background);
}

.navbar_subitems {
  /* background-color: brown; */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.navbar_subitems_list {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding-top: 5px;
  box-sizing: border-box;
  padding-left: 20px;
}

.navbar_subitems_items {
  /* background-color: aqua; */
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navbar_subitems_links {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar_subitems_links {
  align-items: center;
}

.navbar_subitems_items:hover {
  background-color: var(--background);
}

.navbar_subitems_items_active {
  background-color: var(--background);
}

.navbar_subitems_links {
  text-decoration: none;
  padding-inline: 5px;
  color: var(--foreground);
}

.em_breve {
  font-weight: 300;
  font-size: 10px;
  font-style: italic;
}

/***********************************/
/***************FOOTER**************/
/***********************************/

.footer {
  /* background-color: aquamarine; */
  font-weight: 300;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/***********************************/
/***************HEADER**************/
/***********************************/

.appheader_container {
  background-color: var(--panel); 
  height: 60px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  position: fixed; 
  border-bottom: 1px solid var(--background);
}

.appheader_enemlogo {
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--logo);
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .appheader_enemlogo {
    justify-content: center;
  }
}

.appheader_menu_container {
  /* background-color: rgb(61, 196, 196); */
}

/*****************************************/
/***************MENU_BUTTON**************/
/*****************************************/

.menu_button {
  background-color: var(--background);
  border: none;
  height: 35px;
  border-radius: 99px;
  width: 35px;
  padding: 0; 
  line-height: 0;
  cursor: pointer;
}

/*****************************************/
/***************THEME_BUTTON**************/
/*****************************************/

.theme_button {
  background-color: var(--background);
  border: none;
  height: 35px;
  border-radius: 99px;
  width: 35px;
  padding: 0; 
  line-height: 0;
  cursor: pointer;
}

/*********************************/
/***************CARD**************/
/*********************************/

.card_container {
  background-color: var(--panel);
  border-radius: 1rem;
  padding: 20px;   
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.card_wrapper {
  box-sizing: border-box;
}

/******************************************/
/***************TAB_NAVIGATOR**************/
/******************************************/

.tab_container {
  border-radius: 1rem;
  background-color: var(--panel);
  overflow: hidden;
  display: flex;
}

.tab_button {
  flex: 1;
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--tab-text);
  position: relative;
  transition: all 0.2s ease;
}

.tab_button:hover {
  color:var(--foreground);
  background-color: var(--tab-hover)
}

.tab_indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--tab-indicator)
}

/****************************************/
/***************INPUT_SHELL**************/
/****************************************/

/* Container Principal */
.shell_container {
  padding: 6px;
  background: var(--tab-background); /* Ajustado para seu tema dark */
  border-radius: 12px;
  /* border: 1px solid var(--tab-border); */
  z-index: 50;
  margin-bottom: 10px;
}

.shell_superior {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}

.shell_inferior {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
}

.slider_wrapper {
  /* background-color: blueviolet; */
  flex: 1; 
  padding-block: 10px;
}

.custom_slider {
  background-color: bisque;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  outline: none;
  transform: rotate(0deg);
  cursor: pointer;
}

/* Thumb (Bolinha) */
.custom_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; height: 20px;
  border: 3px solid var(--grid);
  border-radius: 50%;
  cursor: pointer;
}

.label_title {
  font-size: 1rem;
  color: var(--tab-text);
  font-weight: 300;
}

.label_input {
  font-size: 1.2rem;
  font-weight: 600;
  width: 50px;
  border: none;
  background-color: transparent;
  outline: none;
  color:var(--foreground);
  text-align: center;
  padding-block: 5px;
}

.label_group1 {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 10px;
}

.label_group2 {
  /* background-color: aqua;  */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: right; */
}


/*****************************************/
/***************ITEMS_BUTTON**************/
/*****************************************/

.itens_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
  gap: 8px;
  padding: 5px 0;
}

.itens_button {
  aspect-ratio: 1/1;
  border-radius: 6px;
  background-color:var(--panel);
  color:var(--foreground);
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens_rodape {
  padding-top: 10px;
  font-weight: 300;
  font-size: 10px;
}

/* Backdrop - O fundo que escurece */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Quando o backdrop estiver ativo */
.backdrop_active {
  opacity: 1;
  visibility: visible;
}