:root {
  /* --- TEMA LIGHT --- */
  --color-fill-light: hsl(0, 0%, 95%);        
  --color-text-base-light: hsl(240, 2%, 10%);   
  --color-panel-light: hsl(0, 0%, 100%);       
  --color-grid-light: rgba(0, 0, 0, 0.05); 
  
  --color-tab-background-light: hsl(240, 7%, 92%);
  --color-tab-border-light: hsl(240, 4%, 86%);     
  --color-tab-text-light: hsl(240, 4%, 46%);       
  --color-tab-hover-light: hsl(216, 12%, 84%);
  --color-tab-indicator-light:  hsl(221, 71%, 19%);

  /* --- TEMA DARK --- */
  --color-fill-dark: hsl(240, 10%, 4%);            
  --color-text-base-dark: hsl(0, 0%, 98%);       
  --color-panel-dark: hsl(240, 6%, 10%);           
  --color-grid-dark: rgba(255, 255, 255, 0.05);
  
  --color-tab-background-dark: #27272a;  
  --color-tab-border-dark: #3f3f46;      
  --color-tab-text-dark: #a1a1aa;        
  --color-tab-hover-dark: #3f3f46;
  --color-tab-indicator-dark:  hsl(219, 31%, 82%);
}

.dark {
  --background: var(--color-fill-dark);
  --foreground: var(--color-text-base-dark);
  --panel: var(--color-panel-dark);
  --logo: #ffffff;
  --shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
  --grid: var(--color-grid-dark);
  --tab-background: var(--color-tab-background-dark);
  --tab-border: var(--color-tab-border-dark);
  --tab-text: var(--color-tab-text-dark);
  --tab-hover: var(--color-tab-hover-dark);
  --tab-indicator: var(--color-tab-indicator-dark);
}

.light {
  --background: var(--color-fill-light);
  --foreground: var(--color-text-base-light);
  --panel: var(--color-panel-light);
  --logo: #1a1a1b;
  --shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; 
  --grid: var(--color-grid-light);        /* Corrigido: era ligth */
  --tab-background: var(--color-tab-background-light);
  --tab-border: var(--color-tab-border-light);
  --tab-text: var(--color-tab-text-light);
  --tab-hover: var(--color-tab-hover-light);
  --tab-indicator: var(--color-tab-indicator-light);
}

html, body {
  background-color: var(--background);
  margin: 0;
  height: 100%;
  min-width: 340px
}