/***********************************/
/**************LAYOUT***************/
/***********************************/

.layout_container {
  background-color: var(--background);
  display: flex;
  height: 100svh;
  width: 100svw;
  overflow: hidden;
}

.layout_sidebar {
  width: 250px;
  height: calc(100svh - 60px);
  box-sizing: border-box;
  position: fixed;
  margin-top: 60px;
  z-index: 100;
}

.layout_header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  z-index: 75;
}

.layout_main {
  /* background-color: blue; */
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
  transition: margin 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;
  overflow-y: auto;
}

@media (min-width: 800px) {
  .layout_main {
    margin-left: 250px;
    transition: margin 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

/* Backdrop - O fundo que escurece */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Quando o backdrop estiver ativo */
.backdrop_active {
  opacity: 1;
  visibility: visible;
}