/****************************************/
/***************CONTAINERS***************/
/****************************************/

.main {
  /* background-color: rgb(86, 211, 211); */
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/**************************************/
/***************MAIN TOP***************/
/**************************************/

.main_top {
  /* background-color: aquamarine; */
  display: flex;
  gap: 10px;
  width: 100%;
}

@media (max-width: 1300px) {
  .main_top {
    flex-direction: column;
  }
}

.main_left {
  /* background-color: aquamarine; */
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_right {
  /* background-color: aquamarine; */
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_right_top {
  /* background-color: aquamarine; */
  display: flex;
  gap: 10px;
  height: fit-content;
}

@media (max-width: 1300px) {
  .main_right_top {
    flex-direction: column;
  }
}

.main_right_bottom {
  /* background-color: aquamarine; */
  display: flex;
  height: fit-content;
}

/*******************************************/
/***************CARD_DESCRIBE***************/
/*******************************************/

.card_describe {
  /* background-color: aquamarine; */
}

.card_describe_title {
  /* background-color: aquamarine; */
}

/**********************************************************************/
/***************CARD_DENSITY & CARD_FREQUENCY & CARD_TCC***************/
/**********************************************************************/

.card_density {
  /* background-color: aquamarine; */
  display: flex;
  min-height: 260px;
}

.card_frequency {
  /* background-color: aquamarine; */
  display: flex;
  min-height: 260px;
}

.card_tcc {
  /* background-color: aquamarine; */
  display: flex;
  min-height: 390px;
}
