/****************************************/
/***************CONTAINERS***************/
/****************************************/

.main_container {
  /* background-color: aquamarine; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_container {
  /* background-color: aliceblue; */
  width: 100%;
}

/*********************************/
/***************TRI***************/
/*********************************/

.tri_container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .tri_container {
    flex-direction: column;
  }
}

.tri_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex:1 1 60%
}

.tri_right {
  flex:1 1 40%
}

.tri_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}