/*******************************************************************/
/******************************PAGE*********************************/
/*******************************************************************/

.skeletonText {
  display: inline-block;
  height: 1.2rem;
  width: 80px;
  background: linear-gradient(
    90deg,
    var(--tab-hover) 25%,
    var(--grid) 50%,
    var(--tab-hover) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
  vertical-align: middle;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/*******************************************************************/
/******************************TABLES*******************************/
/*******************************************************************/

.skeletonTextMedium,
.skeletonTextShort {
  display: inline-block;
  height: 1rem;
  background: linear-gradient(
    90deg,
    var(--tab-hover) 25%,
    var(--grid) 50%,
    var(--tab-hover) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}
