/****************************************/
/***************CONTAINERS***************/
/****************************************/

.main {
  /* background-color: rgb(86, 211, 211); */
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/**************************************/
/***************MAIN TOP***************/
/**************************************/

.main_top {
  /* background-color: aquamarine; */
  display: flex;
  gap: 10px;
  width: 100%;
}

@media (max-width: 1300px) {
  .main_top {
    flex-direction: column;
  }
}

.main_top_left {
  /* background-color: aquamarine; */
  flex: 1 1 30%;
  display: flex;
  gap: 10px;
}

.main_top_right {
  /* background-color: aquamarine; */
  flex: 1 1 70%;
  display: flex;
  gap: 10px;
}

.main_bottom {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  gap: 10px;
  min-width: 0;
}

@media (max-width: 1000px) {
  .main_bottom {
    flex-direction: column;
  }
}

