/************************************************/
/*******************DESCRIBE*********************/
/************************************************/

.describe_container {
  /* background-color: aquamarine; */
}

.describe_cabecalho {
  padding-bottom: 15px;
}

.describe_title {

}

.describe_subtitle {
  font-weight: 350;
  font-size: 13px;
}

.describe_table {
  /* background-color: aquamarine; */
  min-width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  text-align: left;
}

.describe_thead {
  background-color:var(--tab-hover);
  text-transform: uppercase;
  color:var(--tab-text);
}

.describe_th {
  padding: 10px;
  border-bottom: 1px solid var(--grid);
  font-weight: 300;
}

.describe_tr {
  transition: background-color 0.2s;
  font-weight: 300;
}

.describe_tr:hover {
  background-color:var(--tab-hover);
}

.describe_tr.row_selected {
  background-color: var(--tab-hover);
  /* Adicional: você pode colocar um border-left ou negrito para destacar mais */
  font-weight: 600;
}

.describe_td {
  padding: 8px;
  border-bottom: 1px solid var(--grid);
}

.describe_metricLabel {
  /* font-weight: 600; */
  /* color: #374151; */
}

.describe_valueText {
  /* font-family: monospace; */
}

.describe_footer {
  padding: 5px;
  padding-top: 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}