/************************************************/
/*******************DESCRIBE*********************/
/************************************************/

.describe_container {
  /* background-color: aquamarine; */
}

.describe_cabecalho {
  padding-bottom: 15px;
}

.describe_title {
}

.describe_subtitle {
  font-weight: 350;
  font-size: 13px;
}

.describe_table {
  /* background-color: aquamarine; */
  min-width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  text-align: left;
}

.describe_thead {
  border: solid 1px var(--tab-hover);
  font-weight: 600;
  background-color: var(--tab-hover);
}

.describe_th {
  padding: 10px;
  font-weight: 300;
  width: 70%;
}

.describe_tr {
  font-weight: 300;
}

.describe_tr:hover {
  font-weight: 600;
}

.describe_tr.row_selected {
  /* Adicional: você pode colocar um border-left ou negrito para destacar mais */
  font-weight: 600;
}

.describe_td {
  padding: 8px;
  border-bottom: 1px solid var(--grid);
}

.describe_metricLabel {
  /* font-weight: 600; */
  /* color: #374151; */
}

.describe_valueText {
  /* font-family: monospace; */
}

.describe_footer {
  padding: 5px;
  padding-top: 10px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}
