/*******************************************/
/*******************TCC*********************/
/*******************************************/

.impact_container {
  /* style={{ display: 'flex', flexDirection: 'column', height: '100%' }} */
}

.tcc_container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tcc_cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .tcc_cabecalho {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
}

.tcc_title {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tcc_title_h3 {
  /* background-color: rgb(73, 182, 182); */
  color: var(--foreground);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.tcc_subtitle_p {
  /* background-color: bisque; */
  margin: 0;
  font-size: 12px;
  color: var(--foreground);
  line-height: 1.2;
  margin-right: 15px;
}

.tcc_graph_container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

@media (max-width: 800px) {
  .tcc_graph_container {
    flex-direction: column;
    min-height: 350px;
  }
}

.tcc_graph_wrapper {
  /* height: 100%; */
  flex: 1;
}

.margin_container {
  overflow-y: auto;
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.margin_table {
  /* width: 100%; */
  border-collapse: collapse;
  font-size: 0.9rem;
  table-layout: fixed;
}

.margin_thead {
  background-color: var(--tab-hover);
  /* text-transform: uppercase; */
}

.eap_initial {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  color: var(--tick);
}

.margin_tr,
.margin_tr1 {
  transition: background-color 0.2s;
  border-bottom: solid 1px var(--grid);
}

.margin_th {
  padding-top: 8px;
  font-weight: 300;
}

.margin_td {
  padding: 8px;
  color: var(--tab-text);
  text-align: center;
}

.margin_th_item {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 8px;
  transition: all 0.3s ease;
}

.table_footer {
  padding-inline: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  color: #888;
}

.sortable {
  opacity: 0.5;
}

.sortable:hover {
  opacity: 1 !important;
}

.sorted {
  opacity: 1 !important;
}
